// Place all the styles related to the recipies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipy_ingredients th, #recipy th{ min-width: 100px;}
#recipy_ingredients tr{ text-align: center} 
.add_ingridients{margin-left: 560px;font-size: 130%;font-weight: bold;}