// Place all the styles related to the recipies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zebra_stripe{background:#DDDDDD;}

#recipy td{min-width:95px;text-align:left;padding: 3px 5px; font-weight: bold;}

#recipy_ingredients input {width:95%;}
#recipy_ingredients select {width:100%;}

.add_ingridients{margin-left: 560px;font-size: 130%;font-weight: bold;}
